{% extends "base.html" %}

 {% block head %}
     <script type="application/javascript">
    $( document ).ready(function() {
        education_options = {{ education_options|safe }};
        for (city in education_options) {
            $('#city').append(`<option value="${city}">${city}</option>`);
        }
        function set_uo(val) {
            $("#uo option").remove();
            for (uo in education_options[val]) {
                $('#uo').append(`<option value="${uo}">${uo}</option>`);
            }
            set_spec($('#city')[0].value, $('#uo')[0].value)
        }
        $('#city').change(function () {
            set_uo(this.value);
            set_spec($('#city')[0].value, $('#uo')[0].value)
        })
        set_uo($('#city')[0].value);

        $('#uo').change(function () {
            set_spec($('#city')[0].value, this.value)
        })

        function set_spec(city, uo) {
            specializations = education_options[city][uo]
            $("#spec option").remove();
            for (spec in specializations) {
                $('#spec').append(`<option value="${specializations[spec]}">${specializations[spec]}</option>`);
            }
        }
        set_spec($('#city')[0].value, $('#uo')[0].value)
        $('.education').change(function () {
            if (this.value === 'basic') {
                $('#tests').hide();
            }
            if (this.value === 'general') {
                $('#tests').show();
            }
        })

        $('#submit_app').click(function () {
            {#first_name = models.CharField(db_column='First_Name', max_length=50, blank=True, null=True)#}
            {#middle_name = models.CharField(db_column='Middle_Name', max_length=50, blank=True, null=True)#}
            {#last_name = models.CharField(db_column='Last_Name', max_length=50, blank=True, null=True)#}
            {#sex = models.CharField(db_column='Sex', max_length=1, blank=True, null=True)#}
            {#date_of_birth = models.DateField(db_column='Date_of_Birth', blank=True, null=True)#}
            {#citizenship = models.CharField(db_column='Citizenship', max_length=50, blank=True, null=True)#}
            {#passport_num = models.CharField(db_column='Passport_Num', max_length=50, blank=True, null=True)#}
            {#personal_id = models.CharField(db_column='Personal_ID', max_length=50, blank=True, null=True)#}
            {#passport_exp_date = models.DateField(db_column='Passport_exp_date', blank=True, null=True)#}
            {#photo_link = models.CharField(db_column='Photo_link', max_length=240, blank=True, null=True)#}
            {#creation_date = models.DateField(db_column='Creation_date', blank=True, null=True)#}
            {#last_update_date = models.DateField(db_column='Last_update_date', blank=True, null=True)#}

            data = {
                last_name: $('#last_name').val(),
                middle_name: $('#middle_name').val(),
                first_name: $('#first_name').val(),
                date_of_birth: $('#birthday').val(),
                citizenship: $('#citizenship').val(),
                passport_num: $('#passport_num').val(),
                personal_id: $('#personal_id').val(),

            }

            $.ajax({
              method: "GET",
              url: "save_application",
              data: data
            }).done(function( msg ) {
                alert("Data Saved: " + msg.status);
            });
        })
    });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Единая система подачи документов в учреждения
                среднего специального и <br> профессионально-технического
                образования</span>
            </nav>
        </div>
    </div>


    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <br>
            <h5>Данные абитуриента</h5> <br>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="last_name">Фамилия</label>
                    <input type="text" class="form-control" id="last_name"
                            required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="first_name">Имя</label>
                    <input type="text" class="form-control" id="first_name"
                            required>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="middle_name">Отчество</label>
                    <input type="text" class="form-control" id="middle_name"
                           required>
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="birthday">Дата Рождения</label>
                    <input type="text" class="form-control" id="birthday" required>
                </div>
            </div>

            {% for label, id in fields %}
                <div class="form-row">
                    <label for="{{ id }}" class="col-sm-3 col-form-label">{{ label }}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="{{ id }}">
                    </div>
                </div>
            {% endfor %}
            <br>
            <h5>Законченная ступень образования</h5>
            <div class="form-check">
                <input class="form-check-input education" type="radio" name="exampleRadios" id="basic"
                       value="basic">
                <label class="form-check-label" for="basic">
                    Базовое (9 классов)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input education" type="radio" name="exampleRadios" id="general"
                       value="general" checked>
                <label class="form-check-label" for="general">
                    Общее (11 классов)
                </label>
            </div>
            <br>
            <hr/>
            <h5>Выбор учебного заведения</h5>
            <div class="form-group">
                <label for="city">Город</label>
                <select class="form-control" id="city">
                </select>
            </div>

            <div class="form-group">
                <label for="uo">Название УО</label>
                <select class="form-control" id="uo">
                </select>
            </div>

            <div class="form-group">
                <label for="spec">Название специальности</label>
                <select class="form-control" id="spec">
                </select>
            </div>


            <br>
            <hr/>
            <h5>Информация для поступления</h5>
            <table style="width: 500px;">
                <tr>
                    <td>Отделение</td>
                    <td>

                    </td>
                    <td>Форма получения образования</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Очное</td>
                    <td>
                        <input type="radio" name="education_type"
                               value="option1" checked>
                    </td>
                    <td>Бесплатная</td>
                    <td><input type="checkbox"
                               value="option2" checked></td>
                </tr>
                <tr>
                    <td>Заочное</td>
                    <td>
                        <input type="radio" name="education_type" value="option3">
                    </td>
                    <td>Платная</td>
                    <td>
                        <input type="checkbox" value="option4">
                    </td>
                </tr>
            </table>
            <br>
            <h5>Данные аттестата</h5>
            <small id="emailHelp" class="form-text text-muted">
                Введите оценки своего аттестата по предметам.
                Мы подсчитаем ваш средний бал автоматически.

            </small>
            <br>

            <table border="0">
                {% for row in subjects %}
                    <tr>
                        {% for subject in row %}
                            <td>{{ subject }}</td>
                            <td><input type="text" size="3"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

           <span id="tests">
            <br>
            <h5>Результаты Централизованного тестирования</h5>
            <small id="emailHelp" class="form-text text-muted">
                Баллы сертификатов ЦТ. Данные сертификатов действительны 2 года.
            </small>

            <table>
                {% for test in tests %}
                    <tr>
                        <td>{{ test }}</td>
                        <td><input type="text" size="3"></td>
                    </tr>
                {% endfor %}
            </table>
           </span>

            <hr/>
            <br>
            <h5>Льготы</h5>
            <small id="emailHelp" class="form-text text-muted">
                Если у вас есть льготы при поступлении, укажите их в поле ниже.
            </small>
            <select class="form-control" id="sel3">
                {% for cheater in cheaters %}
                    <option value="{{ cheater }}">{{ cheater }}</option>
                {% endfor %}
            </select>
           <br>
            <h5>Ничего не забыли?</h5>
        <br>
            <button class="btn btn-primary" type="submit" id="submit_app">Подать заявление</button>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}