{% extends 'backend_app/base.html' %}
{% load bootstrap4 %}

{% block body %}
    <div class="container-fluid">
        {% include 'backend_app/nav.html' %}
        <div class="row">
            <div class="col-8 offset-2">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}