{% extends "base.html" %}

{% block body %}
    <div class="row">
        <div class="col-12">


            <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Единая система подачи документов в учреждения
                среднего специального и <br> профессионально-технического
                образования</span>
            </nav>
        </div>

    </div>


    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <br>
            <h5>Данные абитуриента</h5> <br>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Фамилия</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="First name"
                           value="Mark" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Имя</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name"
                           value="Otto" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Отчество</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name"
                           value="Otto" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Дата Рождения</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name"
                           value="Otto" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
            </div>

            {% for field in fields %}
                <div class="form-row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">{{ field }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="validationTooltip{{ forloop.counter }}"
                               placeholder="">
                    </div>
                </div>
            {% endfor %}
            <br>
            <h5>Законченная ступень образования</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                       value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Базовое (9 классов)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                       value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Общее (11 классов)
                </label>
            </div>
            <br>
            <h5>Выбор учебного заведения</h5>

            <div class="form-group">
                <label for="sel1">Город</label>
                <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <div class="form-group">
                <label for="sel2">Название УО</label>
                <select class="form-control" id="sel2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <div class="form-group">
                <label for="sel3">Название специальности</label>
                <select class="form-control" id="sel3">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>


            <br>
            <h5>Информация для поступления</h5>
            <table style="width: 500px;">
                <tr>
                    <td>Отделение</td>
                    <td>

                    </td>
                    <td>Форма получения образования</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Очное</td>
                    <td>
                        <input type="radio"
                               value="option1" checked>
                    </td>
                    <td>Бесплатная</td>
                    <td><input type="checkbox"
                               value="option1" checked></td>
                </tr>
                <tr>
                    <td>Заочное</td>
                    <td>
                        <input type="radio"
                               value="option1" checked>
                    </td>
                    <td>Платная</td>
                    <td><input type="checkbox"
                               value="option1" checked></td>
                </tr>
            </table>
            <br>
            <h5>Данные аттестата</h5>
            <button class="btn btn-primary" type="submit">Submit form</button>


        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}